/**
black: #000000
donkergrijs: #444444
minder donker grijs: #707070
lightgrijs: #AAAAAA
noglichtergrijs: F5F5F5
wit: FFFFFF
blauw: 2699FB
 */

@font-face
{
	font-family:"opensans";
	src:url("fonts/OpenSans-Regular.ttf") format:("truetype");
}

@font-face
{
	font-family:"raleway";
	src:url("fonts/Raleway-Bold.ttf") format:("truetype");
}

@font-face
{
	font-family:"roboto";
	src:url("fonts/Roboto-Regular.ttf") format:("truetype ");
}


.bovensteHeader{
     padding: 80px;
     text-align: center;
     background: #444444;
     color: white;
}
bovensteHeader h1{
	font-family: "roboto", "Berlin Sans FB", "Arial";
}

 nav{
     overflow:hidden;
     background-color: #000000;
}
 nav li a{
     padding: 21px 55px;
     text-decoration: none;
     color: white;
}
nav li a:hover{
	background-color:#444444;
	
}
 nav li {
     float: left;
     margin: 20px;
     list-style-type: none;
}
 #mainContent header{
     text-align: center;
}
 #mainContent article {
     max-width: 60%;
     margin: auto;
     text-align: left;
}
 figure img:last-child{
     float: right;
}
 #secondContent{
     background: #AAAAAA;
    /**grey*/
}
 #secondContent header{
     text-align: center;
}
 #secondContent article{
     max-width: 60%;
     margin: auto;
}
 #sportContent header{
     text-align:center;
}
 #sportContent{
     max-width: 60%;
     margin: auto;
}
 #sportContent article img{
     height:150px;
	 width:100%;	
}

#sportContent article img:hover{
	box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
 #sportContent article:first-child{ /* eerste article */
	 border: 1px solid;
     width: 30%;
	 height: 320px;
     float: left;

}
 .articleSecondChild{
	 border: 1px solid;
     width:30%;
	 height: 320px;
     float: left;
}
 .articleThirdChild{
	 border: 1px solid;
     width: 30%;
	 height: 320px;
     float: left;
}
 .articleFourthChild{
	 border: 1px solid;
     width: 30%;
	 height: 320px;
     float: left;
}
 .articleFifthChild{
	 border: 1px solid;
     width: 30%;
	 height: 320px;
     float: left;
}
 .articleSixthChild{
	 border: 1px solid;
     width: 30%;
	 height: 320px;
     float: left;
}
 .articleSeventhChild{
	 border: 1px solid;
     width: 30%;
	 height: 320px;
     float: left;
}
 .articleEightChild{
	 border: 1px solid;
     width: 30%;
	 height: 320px;
     float: left;
}
 .articleNinethChild{
	 border: 1px solid;
     width: 30%;
	 height: 320px;
     float: left;
}
 .articleTenthChild{
	 border: 1px solid;
     width: 30%;
	 height: 320px;
     float: left;
}

#sportContent footer{
	border: 1px solid black;
	float:left;
	width:100%;
}
 
#referralContent img{
	width:100%;
	height:100%;
}
#referralContent{
	
	position:absolute;
	height:100%;
	right: 0px;
	width:20%;
}
aside header{
	
}






