.bovensteHeader{
	padding: 80px;
	text-align: center;
	background: lightblue;
	color: white;
}

nav{
	overflow:hidden;
	background-color: #333;
}


nav li a{
	padding: 21px 0px;
	text-decoration: none;
	color: white;
}

nav li {
	float: left;
	margin: 20px;
	list-style-type: none;
}

#mainContent header{
	text-align: center;
}

#mainContent article {
	max-width: 60%;
	margin: auto;
	text-align: left;
	
}

figure img:last-child{
	float: right;
}

#secondContent{
	background: #AAAAAA; /**grey*/
}
#secondContent header{
	text-align: center;
}

#secondContent article{
	max-width: 60%;
	margin: auto;
}



#sportContent header{
	text-align:center;
}

#sportContent{
	max-width: 60%;
	margin: auto;
}

#sportContent article img{
	height:230px;
}

#sportContent article:first-child{
	width: 30%;
	float: left;
}

.articleSecondChild{
	width:30%;
	float: left;
}

.articleThirdChild{
	width: 30%;
	float: left;
}
















/**
#sportContent header{
	text-align: center;
}
#sportContent {
	max-width: 60%;
	margin: auto;
	
}
.sportImages{
	margin: 0 -16px;
	padding-top: 32px;
	padding-bottom:32px;
	max-width: 25%;
	
	border: 2px solid black;
	
}
#sportContent article{
	
	width: 100%;
	margin: auto;
} 
#sportContent figure img{
	float: left;
	height: 100px;
	width: 100%;
	padding: 12px;
	
} 

*/

#referalContent{
	text-align: center;
	max-width: 50%;
	margin: auto;
} 


